[Desktop Entry]
Encoding=UTF-8
Name=Link to magical psychedelic chillout mix ( psychill / psybient ) HD - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Y5rp1aXe4AU
Icon=text-html
