<p>Log embryo</p>
<div>
  <form [formGroup]="logFormGroup" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title" class="form-control">
      <span *ngIf="!logFormGroup.get('title').valid && logFormGroup.get('title').touched" class="help-block">Please enter a title</span>
    </div>
    <div class="form-group">
      <label for="tagbeg">Tag</label>
      <input type="text" id="tagbeg" formControlName="tagbeg" class="form-control">
      <span *ngIf="!logFormGroup.get('tagbeg').valid && logFormGroup.get('tagbeg').touched" class="help-block">
        <span *ngIf="logFormGroup.get('tagbeg').errors['required']" class="help-block">
          tag required
        </span>
        <span *ngIf="logFormGroup.get('tagbeg').errors['notATag'] && !logFormGroup.get('tagbeg').errors['required']"
          class="help-block">
          New tag will be created
        </span>
      </span>
    </div>
    <div class="form-group">
      <select formControlName="tag" id="tag">
        <option *ngFor="let tag of filteredTags; let i = index" [value]="filteredTags[i]">
          {{filteredTags[i]}}
        </option>
      </select>
    </div>
    <button>submit</button>
  </form>

  {{tagbeg | json}}
</div>